.btn {
    color: var(--clr-accent);
    background-color: var(--clr- rgba);
    border: 10px solid var(--clr-accent);
    border-radius: 5px;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 1s;
    transition: transform 0.5s ease;
}

.btn:hover {
    /* transform: translateY(-10px); */
    background-color: orange;
}
.navbarcommunity
{
    background-color: blueviolet;
}